<div class="m-x-auto p-a-2  m-t-2" style="width: 800px;" *ngIf="updateEnabled">
    Stock Code: <input #updateStockCode [value]="selectedStock.stockCode" />
    Stock Name: <input #updateStockName [value]="selectedStock.name" />

    <button type="button" (click)="updateStock(updateStockCode.value, updateStockName.value)" class="btn btn-warning">UPDATE</button>
</div>

<div class="m-x-auto p-a-2" style="width: 900px">
    <table class="table table-striped table-inverse table-hover table-sm center">
        <thead>
        <tr>
            <th>#</th>
            <th>OPERATIONS</th>
            <th>NAME</th>
            <th>STOCK CODE</th>
        </tr>
        </thead>
        <tr *ngFor="let stock of stocks">
            <td>{{ stock.id }}</td>
            <td><button class="btn btn-warning" type="button" (click)="loadDetails(stock)">UPDATE</button>
            <button class="btn btn-danger" type="button" (click)="deleteStock(stock.id)">DELETE</button></td>
            <td>{{stock.name}}</td>
            <td>{{stock.stockCode}}</td>
        </tr>
    </table>
</div>
<hr>
<h2>Add Stock</h2>
Stock Code: <input #newStockCode />
Stock Name: <input #newName />

<button type="button" class="btn btn-primary" (click)="createStock(newStockCode.value, newName.value)">CREATE</button>

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3">Angular 2 Finance</h1>
        <p class="lead">Stocks, Bonds, Mutual Funds</p>
        <hr class="my-2">
        <p>A simple Angular 2 finance application</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">START</a>
        </p>
    </div>
</div>